/* CSS files add styling rules to your content */

/* General Styling */
body {
  font-family: helvetica, arial, sans-serif;
  margin: 3em;
  background-color: lightseagreen;
  color: white;
  min-width:1400px;
  min-height:900px;
}
h1 {
  font-family: verdana, arial, sans-serif;
}

/* Hidden Class */
.hidden {
  display: none;
}

/* Background-Transition Styling */
#background {
  transition: background-color 2s
}

/* Slider Styling */
.slidecontainer {
  width: 30%;
}
.slider {
  -webkit-appearance: none;
  width: 10%;
  height: 15px;
  border-radius: 5px;
  background: DarkGray;
  outline: none;
  opacity: .5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  transition: background-color 100ms linear;
}

/* Difficulty Button Styling */
#difficultyButtonArea = button {
  padding: 10px;
  border-radius: 30px;
  width: 2000px;
  height: 40px;
  margin: 2px;
  outline: none;
}
#casualBtn {
  background: white;
  border: 2px solid lightseagreen;
} #casualBtn:hover {
  background: springgreen;
}
#intermediateBtn {
  background: white;
  border: 2px solid lightseagreen;
} #intermediateBtn:hover {
  background: gold;
}
#expertBtn {
  background: white;
  border: 2px solid lightseagreen;
} #expertBtn:hover {
  background: orangered;
}
#goodMorningBtn {
  background: white;
  border: 2px solid lightseagreen;
} #goodMorningBtn:hover {
  background: aqua;
}

/* Custom Section Styling */
#customBtnOff {
  background: white;
  border: 2px solid lightseagreen;
  transition: background-image 1000ms linear;
} #customBtnOn {
  background: white;
  border: 2px solid lightseagreen;
  transition: background-image 1000ms linear;
}
#customBtnOff:hover {
  background-image: linear-gradient(90deg, #00C0FF 10%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:rainbow 10s linear infinite;
  opacity: 1;
  transition: opacity .2s;
}
#customBtnOn:hover {
  background-image: linear-gradient(90deg, #00C0FF 10%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:rainbow 10s linear infinite;
  opacity: 1;
  transition: opacity .2s;
}
@keyframes rainbow {
  to {
    background-position:10vw;
  }
}

#inputSequence {
  background: white;
  border: 2px solid lightseagreen;
}
#customStartBtn {
  background: white;
  border: 2px solid lightseagreen;
}

/* Start & Stop Button Styling */
#startBtn {
  background: white;
  border: 2px solid lightseagreen;
}
#stopBtn {
  background: powderblue;
  border: 2px solid lightseagreen;
}

/* Key Button Styling */
#keyC {
  background: white;
  border: 2px solid lightseagreen;
}
#keyDFlat {
  background: white;
  border: 2px solid lightseagreen;
}
#keyD {
  background: white;
  border: 2px solid lightseagreen;
}
#keyEFlat {
  background: white;
  border: 2px solid lightseagreen;
}
#keyE {
  background: white;
  border: 2px solid lightseagreen;
}
#keyF {
  background: white;
  border: 2px solid lightseagreen;
}
#keyGFlat {
  background: white;
  border: 2px solid lightseagreen;
}
#keyG {
  background: white;
  border: 2px solid lightseagreen;
}
#keyAFlat {
  background: white;
  border: 2px solid lightseagreen;
}
#keyA {
  background: white;
  border: 2px solid lightseagreen;
}
#keyBFlat {
  background: white;
  border: 2px solid lightseagreen;
}
#keyB {
  background: white;
  border: 2px solid lightseagreen;
}

/* Game Tile Styling */
button {
  padding: 10px;
  border-radius: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

#topRow > button {
  width: 14.5%;
  height: 29%;
  margin: .9%;
  outline: none;
  min-width: 250px;
  min-height: 200px;
}
#bottomRow > button {
  width: 14.5%;
  height: 29%;
  margin: .9%;
  outline: none;
  min-width: 250px;
  min-height: 200px;
}
#button1 {
  background: white;
  border: 10px solid springgreen;
  outline: none;
}
#button1:hover {
  background: springgreen;
  outline: none;
}
#button2 {
  background: white;
  border: 10px solid aqua;
  outline: none;
}
#button2:hover{
  background: aqua;
  outline: none;
}
#button3 {
  background: white;
  border: 10px solid tomato;
  outline: none;
}
#button3:hover {
  background: tomato;
  outline: none;
}
#button4 {
  background: white;
  border: 10px solid yellow;
  outline: none;
}
#button4:hover {
  background: yellow;
  outline: none;  
}
#button5 {
  background: white;
  border: 10px solid royalblue;
}
#button5:hover {
  background: royalblue;
  outline: none;  
}
#button6 {
  background: white;
  border: 10px solid deeppink;
  outline: none;
}
#button6:hover {
  background: deeppink;
  outline: none;
}
#button7 {
  background: white;
  border: 10px solid firebrick;
  outline: none;
}
#button7:hover {
  background: firebrick;
  outline: none;
}
#button8 {
  background: white;
  border: 10px solid peru;
  outline: none;
}
#button8:hover {
  background: peru;
  outline: none;
}


/* Active-Game-Tile Stying */
#button1:active,
#button1.lit {
  background: springgreen;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}
#button2:active,
#button2.lit {
  background: aqua;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}
#button3:active,
#button3.lit {
  background: tomato;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}
#button4:active,
#button4.lit {
  background: yellow;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}
#button5:active,
#button5.lit {
  background: royalblue;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}
#button6:active,
#button6.lit {
  background: deeppink;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}
#button7:active,
#button7.lit {
  background: firebrick;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}
#button8:active,
#button8.lit {
  background: peru;
  border: 10px solid white;
  width: 11%;
  height: 23%;
  outline: none;
  min-width: 150px;
  min-height: 110px;
}


/* Toggle Switch Styling */
.switch {
  position: absolute; right: 2%;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle {
  position: absolute; right: 10%;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.toggle:before {
  position: absolute; right: 10%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .toggle {
  background-color: #2196F3;
}
input:focus + .toggle {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}